<div class="seller-auth">
    <div *ngIf="!showLogin" class="account">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signup(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" ngModel placeholder="Enter Name" name="name" id="">
            <input class="form-input" type="password" ngModel placeholder="Enter Password" name="password" id="">
            <input class="form-input" type="email" ngModel placeholder="Enter Email" name="email" id="">
            <button class="form-button">Sign Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have an account? Click to Login</a>
        </form>
    </div>
    <!-- Login Area -->
    <div *ngIf="showLogin" class="account">
        <h1>Seller Sign-In</h1>
        <form #sellerLogin="ngForm" (ngSubmit)="signup(sellerLogin.value)" class="common-form">
            <input class="form-input" type="email" ngModel placeholder="Enter Email" name="email" id="">
            <input class="form-input" type="password" ngModel placeholder="Enter Password" name="password" id="">
            <button class="form-button">Sign In</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't have an account? Click to Sign-Up</a>
        </form>
    </div>
</div>